<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>演示后台V1.0.0</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="email" class="form-control input-underline input-lg" name="email" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="password" [(ngModel)]="pass" class="form-control input-underline input-lg" name="pass" placeholder="Password">
                    </div>

                    <div class="form-group">
                        <input type="checkbox" [(ngModel)]="rememberme" class="input-underline input-md" name="rememberme">
                        <label for="remeberme">记住我</label>
                    </div>
                </div>
                <a class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="onLoggedin()"> 登 陆 </a>
            </form>
        </div>
    </div>
</div>
