.modal-lg{
    width: 80%;
}

.modal-header,
.modal-body,
.modal-footer {
    background-color: #292b2c;
    color: white;
}

.close {
    color: white;
}
.text-small{
    font-size:14px;
}
form{
    font-size:1;
}

.form-inline{
    input.form-control{
        width: 112px;
    }
}
.card-header{
    color:black;
}